body{
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    height: 200px;
    width: 90%;
    background: rgb(245,238,159);
    background: linear-gradient(90deg, rgba(245,238,159,1) 0%, rgba(244,202,222,1) 65%, rgba(204,112,194,1) 100%);

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
h1{
    font-size: 80px;
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
h3{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.luzes{
    position: absolute;
    top: 14px;
    z-index: -10;
}

.fotos{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.post{
    width: 350px;
    height: 100%;
    margin-right: 20px;
    position: relative;
    position: absolute;
    top: -100px;
}
.fundoBranco{
    background-color: white;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundoPreto{
    background-color: black;
    width: 90%;
    height: 300px;
    margin-top: 20px;
}

.clips{
    position: absolute;
    left: 145px;
}

.foto{
    margin-top: 50px;
}


#criarPost{
    margin-top: 20px;
    border: none;
    background-color: rgba(245, 238, 159, 0.529);
    padding: 8px 10px;
    border-radius: 10px;
}
#criarPost:hover{
    background-color: rgb(245, 238, 159);
}
